# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model weights and large data
models/yolov8m_for_ocr/weights/*.pt

# Output files
output/*.json

# Logs
*.log

# Ignore batch file if you want (uncomment if needed)
# setup_and_run.bat
# git remote add origin https://github.com/0NE-C0DEMAN/Yolo_PaddleOCR.git
